<div class="wrapper">
  <h1 style="color: crimson; font-weight: bolder; text-align: center; padding-top: 25px;">Christmas Gifts</h1>

  <form [formGroup]="filterForm">
    <div class="row">
      <div style="flex:auto" class="column">
        <label style="color: crimson; font-weight: bolder;" for="cars">SELECT CATEGORY : </label>
        <select formControlName="category">
            <option *ngFor="let item of category" [value]="item">{{item}}</option>
        </select>
      </div>
  
      <div  style="flex:auto" class="column">
        <label style="color: crimson; font-weight: bolder;">GIFT FOR : </label>
        <input type="radio" value="All" formControlName="giftFor" >All
        <input type="radio" value="Men" formControlName="giftFor" >Men
        <input type="radio" value="Women" formControlName="giftFor">Women
        <input type="radio" value="Kids" formControlName="giftFor">Kids
        <input type="radio" value="Teen" formControlName="giftFor">Teen
      </div>
  
      <div style="flex:auto" class="column" id="slider">
        <label style="color: crimson; font-weight: bolder;">SET PRICE : </label>
        <input class="bar" formControlName="sliderRanger" type="range" id="rangeinput" min="10" max="999" value="10" onchange="rangevalue.value=value"/>
        <span class="highlight"></span>
        <output id="rangevalue">10</output>
      </div>
    </div>
    <div style="outline-offset: 5px;padding: 20px;" class="column">
      <div *ngIf="gridImage.length===0">
        No Data Found!!
      </div>
      <div  style="background-color: white;" class="row">
        <div class="img_class" style="margin: auto; background-color: floralwhite; text-align: center" *ngFor="let item of gridImage">
          <img (mouseover)="mouseHover(item)" (mouseout)="mouseOut(item)" src={{item.image}}>
            <p>{{item.imagename}} ${{item.price}}</p>
            <input type="text" *ngIf="item.hover == true" formControlName="divOnHover">
        </div>
      </div>
    </div>
  </form>
</div>